$colors:(primary: #005DFF, accent:#FFF6BB);

$padding: 15px;

body,
html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .bg {
        clip-path: polygon(100% 0, 100% 56%, 25% 100%, 0 100%, 0 0);
        background-color: map-get($colors, primary);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;

    }

    header a {
        color: #fff;
        padding: 40px;
        display: block;
        text-transform: uppercase;
    }

    main {
        #card {
            background: #fff;
            padding: 15px;
            margin: 1em auto;
            border-radius: 10px;

            box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
            width: 80%;

        }

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;

            li {
                margin-bottom: 10px;

                span {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background-color: lighten($color: #005DFF, $amount: 40%);
                    border-radius: 50%;
                    margin-right: 10px;
                }

                strong {
                    display: inline-block;
                    margin-left: max(40px);
                    margin-top: 10px;
                }
            }
        }
    }

    section#primary {
        color: #fff;
        padding: $padding;
        text-align: center;

        h1 {
            font-size: 2em;
            margin-top: 10px;
            text-transform: uppercase;
        }

        p {
            font-size: 1.4em;
        }

        a {
            color: lighten($color: #005DFF, $amount: 40);
            border-radius: 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: map-get($map: $colors, $key: accent);
            display: block;
            text-align: center;
            margin: 50px auto 0% auto;
            padding: $padding;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
            width: 30%;


        }
    }
}